@namespace iRacingTimings.Shared.Components.Overlay
@using System.Web
@using iRacingSDK.Messaging
@inherits DriverBase

<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()">
    <div class="driver">
        <div class="driver-background"></div>
        <Position>@Item.Live.Position</Position>
        <ColorStripe Color=""></ColorStripe>

        <div class="container">
            <div class="name-wrapper">
                <div class="name">@Item.FirstName @Item.LastName.ToUpper()</div>
            </div>
            
            <div class="@DataClassMapper.AsString()">
                <div class="data2"></div>
                <div class="data"></div>
                <div class="car-logo"></div>
                <div class="flag"></div>
            </div>
            
            <div class="last-lap-time-wrapper">
                <div class="last-lap-time"></div>
            </div>
            <Flag Id="flagWrapper7x5" Scale="FlagScale.flag7x5"></Flag>
            <div class="pit-wrapper">
                <div class="pit">IN PIT</div>
            </div>
        </div>
    </div>
</div>