@namespace iRacingTimings.Shared.Components.Overlay
@inherits DriverInfoBase


<div id="driverDetails" class="@ClassMapper.AsString()" style="@StyleMapper.AsString()">
    <div id="dataWrapper" class="data-wrapper driver-wrapper">
        <div id="upperDataWrapper" class="upper-data-wrapper driver">
            <Position>@Simulator.CurrentDriver.Live.Position</Position>
            <ColorStripe Color="@Simulator.CurrentDriver.Car.ClassColor"></ColorStripe>
            <div id="container" class="container">
                <div id="nameWrapper" class="name-wrapper">
                    <div id="firstName" class="first-name">@Simulator.CurrentDriver.Name</div>
                    <div id="lastName" class="last-name"></div>
                    <div id="suffix" class="suffix"></div>
                </div>
                <img id="flag" class="flag" src="@FlagImage">
                <CarNumber Car="@Simulator.CurrentDriver.CarNumberDesign">@Simulator.CurrentDriver.Car.Number</CarNumber>
                <div id="gain" class="gain">@Gain</div>
            </div>
        </div>
        <div id="middleDataWrapper" class="middle-data-wrapper">
            <div id="text" class="text"></div>
        </div>
        <div id="lowerDataWrapper" class="lower-data-wrapper">
            <div id="text1" class="text1">BEST</div>
            <div id="data1" class="data1">TODO</div>
            <div id="text2" class="text2">LAST</div>
            <div id="data2" class="data2">@Simulator.CurrentDriver.Live.Speed.ToString("0 km/h")</div>
        </div>
        <div id="photoWrapper" class="photo-wrapper">
            <img id="photo" class="photo" src="./img/empty.png" >
        </div>
    </div>
    <div id="videoStreamWrapper" class="video-stream-wrapper">
        <video autoplay="autoplay" id="videoStream" class="video-stream"></video>
    </div>
</div>
